<template>
    <div class="content loading">
        <!-- TODO: Add animated spinner -->
        <p class="h3">{{ message }}</p>
    </div>
</template>

<script>
    export default {
        name: "LoadingSpinner",
        props: {
            message: String,
        }
    }
</script>

<style scoped>

</style>
