<template>
    <div class="flex-center position-ref">
        <div class="content justify-content-center">
            <h1 class="title m-b-md">
                Homeowner List
            </h1>
            <loading-spinner v-if="loading" message="Please wait while we load the data…"></loading-spinner>
            <div v-if="errors.length > 0">
                <div class="card border-danger m-b-md highlight-card">
                    <div class="card-header">
                        <h2>Sorry, there's been a problem</h2>
                    </div>
                    <div class="card-body text-danger">
                        <ul>
                            <li v-for="error in errors">{{ error }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div v-else-if="!loading">
                <p>Any entry highlighted in red my be incorrect and should be manually reviewed.</p>
                <ul class="list-group m-b-md">
                    <li class="list-group-item" v-bind:class="homeowner.error ? 'alert-danger' : ''" v-for="homeowner in homeowners">
                        {{ homeowner.title }} {{ homeowner.first_name }} {{ homeowner.initial }} {{ homeowner.last_name }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Listing",
        data: () => {
            return {
                homeowners: [],
                errors: [],
                loading: true,
            }
        },
        methods: {
            getHomeowners: function () {
                axios.get('/api/names/')
                    .then((response) => {
                        this.homeowners = JSON.parse(response.data.homeowners);
                    })
                    .catch((error) => {
                        this.errors.push(error);
                    })
                    .then(() => {
                        this.loading = false;
                    });
            },
        },
        mounted() {
            this.getHomeowners();
        }
    }
</script>

<style scoped>

</style>
