<template>
    <div class="flex-center position-ref full-height">
        <loading-spinner v-if="loading" message="Please wait while we process the data…"></loading-spinner>
        <div v-else class="content">
            <h1 class="title m-b-md">Homeowner Names Processor</h1>
            <p>Upload a file to process into a normalised set of names</p>
            <div v-if="errors.length > 0" class="row justify-content-center">
                <div class="alert alert-danger col-sm-6">
                    <ul>
                        <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <form enctype="multipart/form-data" novalidate>
                        <div class="form-group">
                            <label for="csv" class="control-label">CSV File</label>
                            <input @change="onFileChange" name="csv" id="csv" type="file" class="form-control">
                        </div>
                        <button class="btn btn-primary" v-on:click="submitForm">Process File</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "UploadForm",
        data: () => {
            return {
                csv: null,
                errors: [],
                loading: false,
            }
        },
        methods: {
            onFileChange(e) {
                const files = e.target.files || e.dataTransfer.files;
                if (!files.length) {
                    return;
                }

                this.csv = files[0];
            },
            submitForm() {
                this.errors = [];
                this.loading = true;

                let formData = new FormData();

                formData.append('csv', this.csv);

                axios.post(
                    '/api/names/store',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    })
                    .then((response) => {
                        this.$router.push({
                            name: 'names.index',
                        });
                    })
                    .catch((error) => {
                        switch (error.response.status) {
                            case 422: // Validation
                                _.forEach(error.response.data.errors, (item, name) => {
                                    const printName = _.capitalize(name);
                                    _.forEach(item, (message) => {
                                        this.errors.push(`${printName}: ${message}`);
                                    });
                                });
                                break;

                            case 500: // Server Error
                            default:
                                this.errors.push(error.response.data.message);
                                break;
                        }
                    })
                    .then(() => {
                        this.loading = false;
                    });
            },
        },
    }
</script>
